<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWMpmhhXvAP_1ebrudakhcT59xDgMFjm0</string>
	<key>GCM_SENDER_ID</key>
	<string>388959458855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusgoo</string>
	<key>PROJECT_ID</key>
	<string>campusgoo-a0973</string>
	<key>STORAGE_BUCKET</key>
	<string>campusgoo-a0973.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388959458855:ios:4622af7e9934ba41b1e002</string>
</dict>
</plist>